@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}


       <div class="portfolio-section">
    <h1>Hello, I'm a FrontEnd Web Developer</h1>
    <p>I'm Aneek Maity</p>
    <p class="intro-text">Welcome to my portfolio! I specialize in building modern and responsive websites.</p>
    
    <div class="skills-container">
        <h2>My Skills:</h2>
        <ul class="skills-list">
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React.js</li>
        </ul>
    </div>
    
    <div class="projects-container">
        <h2>My Projects:</h2>
        <ul class="projects-list">
            <li>Fully functional weather app</li>
            <li>A custom music player</li>
        </ul>
    </div>
</div>

